@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #5927E5;
  --secondary: #B2CAD5;
  --tertiary: #2e6577;
  --error: #700202;
}

.nav {
  background-color: var(--secondary);
}

.cards {
  background-color: var(--secondary);
  box-shadow: -18px -12px 13px -6px rgba(0, 0, 0, 0.1);
  border: none;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.6s ease-in both;
  }
  .animate-slide-up {
    animation: slideUp 0.5s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


button {
  color: var(--tertiary);
}

button:hover {
  background-color: #457c8e;
  color: #B2CAD5;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}


.error {
  color: var(--error);
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #B2CAD5;
  outline: none;
}

form button {
  margin-top: 20px;
  padding: 10px 0;
  background-color: var(--tertiary);
  color: var(--secondary);
}

form button:hover {
  background-color: #808080;
}

button:disabled {
  background-color: darkblue;
}